@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body:not(i) {
    font-family: 'Poppins', sans-serif;
}

.app-header {
    box-shadow: 0 12px 12px -12px rgb(0 0 0 / 20%);
}

.app-drawer {
    background-color: #111827;
    color: #ffffff;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 20%);
}

.app-page-container {
    background-color: #f1f5f9;
    min-height: 100px;
}

.container {
    margin: auto;
    padding: 38px;
    max-width: 1600px;

    @media (max-width: 600px){
        padding: 18px;
    }
}

.border-bottom-accent {
    border-bottom: 1px solid #e2e8f0;
}

.q-card {
    border-radius: 5px;
    box-shadow: 0px 2px 3px -3px rgba(66, 68, 90, 0.72);
    display: flex;
    flex-direction: column;
    border-radius: 25px !important;

    .title-bar {
        display: flex;
        align-items: center;
        min-height: 80px;
        padding-left: 30px;
        padding-right: 30px;
        font-weight: 600;
        border-bottom: 1px solid #E6E6E6;
    
        &:empty {
            min-height: 0;
            border-bottom: none;
        }
    
        h5 {
            margin: 0;
            font-weight: 500;
            font-size: 20px;
        }
    }

    >form, >fragment {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .q-card__section {
        padding: 10px 30px;

        &:first-child {
            padding-top: 30px;
        }

        &:last-child {
            padding-bottom: 30px;
        }
    }

    .q-card__actions {
        display: flex;
        padding: 0;
        padding-left: 30px;
        padding-right: 30px;
        align-items: center;
        min-height: 80px !important;
        border-top: 1px solid #E6E6E6;

        .q-btn {
            font-size: 14px;
            padding: 6px 15px 6px 15px;
        }
    }
}

body.platform-android:not(.native-mobile) .q-dialog__inner--minimized > div {
    max-height: 100%;
}

.q-dialog-max-width {
    width: 100%;
    max-width: 500px;
}

.q-dialog__inner {
    >div {
        overflow: hidden;
    }
}

.q-pagination {
    .q-btn {
        font-size: 14px;
        line-height: 13px;
        padding: 8px !important;
    }
}

.q-dialog-max-width {
    width: 100%;
    max-width: 500px;
}
